# Import necessary libraries

## get the URL and use requests to get web-data and grab our data by using BeautifulSoup.

In [11]:
import bs4
import requests
import re

In [12]:
url = 'https://www.imdb.com/chart/top/'

In [13]:
res = requests.get(url)

In [15]:
soup = bs4.BeautifulSoup(res.text, "lxml")

In [47]:
movies = soup.select('.titleColumn')

In [57]:
movies[2].select('a')[0].text

'The Dark Knight'

In [48]:
example = movies[0]

In [45]:
example

<td class="titleColumn">
      1.
      <a href="/title/tt0111161/" title="Frank Darabont (dir.), Tim Robbins, Morgan Freeman">The Shawshank Redemption</a>
<span class="secondaryInfo">(1994)</span>
</td>

In [33]:
example.select("a")[0]

In [41]:
example.select("a")[0].text

'The Shawshank Redemption'

## Create an empty lists to store our movie name, released year, and their rating 

**parsing through our grabbed data and append them in our list**

In [116]:
movie_name = []
i=0

for name in movies:
    movie_name.append(movies[i].select("a")[0].text)
    i += 1


**check for our data length and look through them a bit to see, if our scrapped data is correct or not.**

In [117]:
len(movie_name)

250

In [118]:
movie_name[0:10]

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather Part II',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Il buono, il brutto, il cattivo']

# Turn our data into DataFrame.

In [60]:
import pandas as pd
import numpy as np

In [90]:
df_name = pd.DataFrame(movie_name, index=None, columns=['name'])

In [91]:
df_name

                         name
0    The Shawshank Redemption
1               The Godfather
2             The Dark Knight
3       The Godfather Part II
4                12 Angry Men
..                        ...
245                  Jai Bhim
246                   Aladdin
247                    Gandhi
248                  The Help
249      Beauty and the Beast

[250 rows x 1 columns]

In [63]:
year = soup.select('.secondaryInfo')

In [73]:
year[0].text

'(1994)'

In [119]:
year[0].text.split('(')[-1].replace(')',"")

'1994'

In [76]:
int(year[0].text.split('(')[-1].replace(')',""))

1994

In [120]:
movie_year = []
i = 0

for y in year:
    movie_year.append(int(year[i].text.split('(')[-1].replace(')',"")))
    i += 1

In [79]:
len(movie_year)

250

In [121]:
movie_year[0:10]

[1994, 1972, 2008, 1974, 1957, 1993, 2003, 1994, 2001, 1966]

In [92]:
df_yr = pd.DataFrame(movie_year, index=None, columns=['year'])

In [122]:
df_yr.head()

   year
0  1994
1  1972
2  2008
3  1974
4  1957

In [111]:
new_df = pd.concat([df_name, df_yr], axis=1)

In [123]:
new_df.head()

                       name  year
0  The Shawshank Redemption  1994
1             The Godfather  1972
2           The Dark Knight  2008
3     The Godfather Part II  1974
4              12 Angry Men  1957

In [97]:
rating = soup.select('.ratingColumn.imdbRating')

In [98]:
rating[0]

<td class="ratingColumn imdbRating">
<strong title="9.2 based on 2,604,397 user ratings">9.2</strong>
</td>

In [100]:
rating[0].text

'\n9.2\n'

In [104]:
rating[0].text.strip('\n')

'9.2'

In [106]:
float(rating[0].text.strip('\n'))

9.2

In [132]:
movie_rating = []
i = 0

for r in rating:
    movie_rating.append(float(rating[i].text.strip('\n'))) ## cast rating data into float for further analyse
    i += 1

In [126]:
len(movie_rating)

250

In [127]:
movie_rating[0:10]

[9.2, 9.2, 9.0, 9.0, 8.9, 8.9, 8.9, 8.9, 8.8, 8.8]

In [110]:
df_rating = pd.DataFrame(movie_rating, index=None, columns=['rating'])

# Merged every dataframe I've created into 1 DataFrame.

In [114]:
IMDB = pd.concat([new_df, df_rating], axis=1)

In [115]:
IMDB

                         name  year  rating
0    The Shawshank Redemption  1994     9.2
1               The Godfather  1972     9.2
2             The Dark Knight  2008     9.0
3       The Godfather Part II  1974     9.0
4                12 Angry Men  1957     8.9
..                        ...   ...     ...
245                  Jai Bhim  2021     8.0
246                   Aladdin  1992     8.0
247                    Gandhi  1982     8.0
248                  The Help  2011     8.0
249      Beauty and the Beast  1991     8.0

[250 rows x 3 columns]